@{
  Layout = "_Layout";
}

<h2> You added the following artist to your catalog.</h2>

<p><strong>Artist Name:</strong>@Model.GetArtistName()</p>
<a href="/artistList"><button class="btn btn-lg btn-success">Show all Artists</button></a>

<a href="/"><button class="btn btn-lg btn-primary">Home</button></a>
